[submodule "_thirdparty/TinyMPC"]
	path = _thirdparty/TinyMPC
	url = https://github.com/TinyMPC/TinyMPC.git
[submodule "_thirdparty/crazyswarm"]
	path = _thirdparty/crazyswarm
	url = git@github.com:sschoedel/crazyswarm.git
[submodule "_thirdparty/tinympc-python"]
	path = _thirdparty/tinympc-python
	url = git@github.com:TinyMPC/tinympc-python.git
